<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login Page</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2>Login</h2>
        <form action="/admin" method="POST">
            <label>Enter your username: </label>
            <input name="username" placeholder="Admin Username" required>
            <br>
            <label>Enter your password: </label>
            <input type="password" name="password" placeholder="Admin Password" required>
            <br>
            <button type="submit">Login Admin</button>
            <% if (error) { %> <p class="error"> <%= error %> </p> <% } %>
        </form>
        <p> Don't have an account ? No worries! Click here to <a href="/admin-register">Register</a></p>
    </div>
</body>
</html>